<div class="form-container">
<%= form_for(@list) do |f| %>
<div class="well">
  <div class="field">
    <%= f.label :list_name, :class => "span2" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :going_to, :class => "span2" %>
    <%= f.text_field :location %>
  </div>

  <div style="float:left; width:200px">
    <span class="span2">
    <%= f.radio_button :sex, "man" %>
    <%= f.label :sex, "man", :value => "man" %>
    </span>
  </div>
    <div>
    <span class="span2">
    <%= f.radio_button :sex, "woman" %>
    <%= f.label :sex, "woman", :value => "woman" %>
    </span>
    <div style="clear:both"></div>
  </div><br>
  <div class="field">
            
    <%= f.label :start_date, :class => "span2"%>
    <%= f.text_field :start_date, :value => set_time, :id =>"dp1" %>

  </div><br>
  <div class="field">
            
    <%= f.label :end_date, :class => "span2"%>
    <%= f.text_field :end_date, :value => set_time, :id =>"dp2" %>
  </div>
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
</div>