<%= form_for(@list) do |f| %>
<div class="well">
  <div class="field">
    <%= f.label :list_name, :class => "span2" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :going_to, :class => "span2" %>
    <%= f.text_field :location %>
  </div>

  <div style="float:left; width:200px">
    <span class="span2">
      <%= f.radio_button :sex, "male" %>
      <%= f.label :sex, "male", :value => "male" %>
    </span>
  </div>
  <div>
    <span class="span2">
      <%= f.radio_button :sex, "female" %>
      <%= f.label :sex, "female", :value => "female" %>
    </span>
  <div style="clear:both"></div>
  </div><br>
  <div class="field">          
    <%= f.label :start_date, :class => "span2"%>
    <%= f.text_field :start_date,:id =>"dpd1" %>
  </div><br>
  <div class="field">          
    <%= f.label :end_date, :class => "span2"%>
    <%= f.text_field :end_date, :id =>"dpd2" %>
  </div>
  <!-- nested form to include items -->
    <div>
      <h3>Items</h3>
      <div id="items">
        <%= f.fields_for :items do |item| %>
          <%= render 'item_fields', :f =>item %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association 'add item', f, :items %>  
      </div>
    </div>
     
      <div class="actions" style="clear:both">
        <%= f.submit %>
     </div>

<% end %>
 </div>


