<div class="form-container">
<%= form_for(@list) do |f| %>

  <div class="field">
    <%= f.label :list_name, :class => "span2" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :going_to, :class => "span2" %>
    <%= f.text_field :location %>
  </div>

  <div style="float:left; width:200px">
    <span class="span2">
    <%= f.radio_button :sex, "man" %>
    <%= f.label :sex, "man", :value => "man" %>
    </span>
  </div>
    <div>
    <span class="span2">
    <%= f.radio_button :sex, "woman" %>
    <%= f.label :sex, "woman", :value => "woman" %>
    </span>
    <div style="clear:both"></div>
  </div><br>
  <div class="input-append date" id="dp2" data-date="12-07-2013" data-date-format="dd-mm-yyyy">
    <%= f.label :start_date, :value => "12-07-2013", :class => "span2" %>
    <%= f.text_field :start_date %>
    <span class="add-on"><i class="icon-calendar"></i></span>
  </div><br>
  <div class="input-append date" id="dp3" data-date="12-07-2013" data-date-format="dd-mm-yyyy">
    <%= f.label :end_date, :value => "12-07-2013", :class => "span2" %>
    <%= f.text_field :end_date %>
    <span class="add-on"><i class="icon-calendar"></i></span>
  </div>
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>