<%= form_for(@list) do |f| %>
  <div class="well">
    <div style="float:left;">
    <div class="field">
      <%= f.label :list_name, :class => "span2" %>
      <%= f.text_field :name, :placeholder => "Name your list", :class => "text_fields" %>
    </div>
    <div class="field">
      <%= f.label :going_to, :class => "span2" %>
      <%= f.text_field :location, :placeholder => "Where are you going?", :class => "text_fields" %>
    </div>

    <div style="float:left; width:200px">
      <span class="span2">
        <%= f.radio_button :sex, "male", :style => "display: none;" %>
        <%= f.label :sex, "male", value: "male" do %>
          <%= image_tag "male.jpg" %>
        <% end %>
      </span>
    </div>
    <div>
      <span class="span2">
        <%= f.radio_button :sex, "female", :style => "display: none;" %>
        <%= f.label :sex, "female", value: "female" do %>
          <%= image_tag "female.jpg" %>
        <% end %>
      </span>
    <div style="clear:both"></div>
    </div><br>
    <div class="field">          
      <%= f.label :start_date, :class => "span2"%>
      <%= f.text_field :start_date,:id =>"dpd1" %>
    </div><br>
    <div class="field">          
      <%= f.label :end_date, :class => "span2"%>
      <%= f.text_field :end_date,:id =>"dpd2" %>
    </div>
  </div>
    <!-- nested form to include items -->
    <div style="float:left;">

      <h3>Suggested Items</h3>
      <div id="items">
           <% i = 0 %>
             <% j = 0 %>

      <div id="tabs">      
        <ul>
         <li><a href="#tabs-1"><%= image_tag "toiletries.jpg", :class => "icons" %></a></li>
         <li><a href="#tabs-2"><%= image_tag "clothes.jpg", :class => "icons" %></a></li>
         <li><a href="#tabs-3"><%= image_tag "shoes.jpg", :class => "icons" %></a></li>
         <li><a href="#tabs-4"><%= image_tag "gadgets.jpg", :class => "icons" %></a></li>
         <li><a href="#tabs-5"><%= image_tag "weather.jpg", :class => "icons" %></a></li>
         <li><a href="#tabs-6"><%= image_tag "travel-aid.jpg", :class => "icons" %></a></li>
         <li><a href="#tabs-7"><%= image_tag "docs.jpg", :class => "icons" %></a></li>
         <li><a href="#tabs-8"><%= image_tag "misc.jpg", :class => "icons" %></a></li>
         <li><a href="#tabs-9"><%= image_tag "luggage.jpg", :class => "icons" %></a></li>
         <li><a href="#tabs-10"><%= image_tag "my-items.jpg", :class => "icons" %></a></li>
        </ul>
        <% @groupedItems.each do |category, item_lists| %>

          <div id="tabs-<%= j = j+1 %>">
            <h3><%= category.to_s.upcase %></h3>
            <%= f.fields_for :item_lists, item_lists do |item_form| %>
            
              <%= render 'item_list_fields', :f => item_form %>
              
            <% end %>
          </div>
        <% end %>
      </div>

      <h3>Add more items</h3>
      <div class="links">
        <%= link_to_add_association 'add my item', f, :item_lists %>  
      </div>
    </div>

    <div class="actions" style="clear:both">
      <%= f.submit %></div>
    </div>
  </div>
<% end %>
