<div class="nested-fields">
	<div class="field">
		<%= f.label :notes %><br>
		<%= f.text_field :note %>
	</div>

<div class="field">
		<%= f.label :qty %><br>
		<%= f.number_field :quantity %>
	</div>

	<%= link_to_remove_association "remove info", f %>	</div>

</div>
