<% set_active %>
  <%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

<h1>List - <%= @list.name %></h1>


<table class="table table-striped">
  <tr>
    <th>List Name</th>
    <th>Gender</th>
    <th>Trip To</th>
    <th>From</th>
    <th>To</th>
  </tr>

  <tr>
    <td><%= @list.name %></td>
    <td><%= @list.sex %></td>
    <td><%= @list.location %></td>
    <td><%= @list.start_date %></td>
    <td><%= @list.end_date %></td>
  </tr>

</table>

<p>Prepare to pack!</p>

<h3>Suggested Items</h3>
  <div id="items">
    <% i = 0 %>
    <% j = 0 %>

    <div id="tabs">      
      <ul>
       <li><a href="#tabs-1"><%= image_tag "toiletries.jpg", :class => "icons" %></a></li>
       <li><a href="#tabs-2"><%= image_tag "clothes.jpg", :class => "icons" %></a></li>
       <li><a href="#tabs-3"><%= image_tag "shoes.jpg", :class => "icons" %></a></li>
       <li><a href="#tabs-4"><%= image_tag "gadgets.jpg", :class => "icons" %></a></li>
       <li><a href="#tabs-5"><%= image_tag "weather.jpg", :class => "icons" %></a></li>
       <li><a href="#tabs-6"><%= image_tag "travel-aid.jpg", :class => "icons" %></a></li>
       <li><a href="#tabs-7"><%= image_tag "docs.jpg", :class => "icons" %></a></li>
       <li><a href="#tabs-8"><%= image_tag "misc.jpg", :class => "icons" %></a></li>
       <li><a href="#tabs-9"><%= image_tag "luggage.jpg", :class => "icons" %></a></li>
       <li><a href="#tabs-10"><%= image_tag "my-items.jpg", :class => "icons" %></a></li>
      </ul>

      <% @groupedItems.each do |category, item_lists| %>
        <div id="tabs-<%= j = j+1 %>">
          <h3><%= category.to_s.upcase %></h3>
            <% item_lists.each do |il| %>
            
              <div style="float:left; margin-right:50px;"><%= il.quantity %></div>
              <div style="float:left;"><%= il.name %></div><br>
              <div>notes: <%= il.note %></div>
            <div style="margin: 20px 0; border-bottom:1px solid lightgray;"></div>
            <% end %>
        </div>
      <% end %>

    </div>
  </div>

