<!DOCTYPE html>
<html>
<<<<<<< HEAD
=======

>>>>>>> d74f86c49945495ec585490fc55dc1575a1d4f5a
	<head>
	  <title>Luggish</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<%= render 'layouts/header' %>

		<div class="container">
			<div class="user_nav">
				<% if current_user %>
					Logged in as <%= current_user.email %>.
					<%= link_to "Log out", logout_path %>
				<% else %>
					<%= link_to "Sign up", signup_path %> or
					<%= link_to "Log in", login_path %>
				<% end %>
			</div>
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
<<<<<<< HEAD
		<div class="container">
		<div class="alert">
		    <% if flash[:notice] %>
		      <p id="notice"><%= flash[:notice] %></p>
		    <% end %>
		    <% if flash[:alert] %>
		      <p id="alert"><%= flash[:alert] %></p>
		    <% end %>
	    </div>
=======
			<div class="container">
	  <div class="alert">
    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>
    </div>
>>>>>>> d74f86c49945495ec585490fc55dc1575a1d4f5a
			<%= yield %>
		</div>
		
	</body>

</html>
